// homepage styles
article {
    p {
        .hyphenate;
    }
}

article {
    &.hiring,
    &.customers {
        padding: 120px 0;
    }
}

div {
    &.align-center {
        text-align: center;
    }
}

#products{

    #products-header{
        position: relative;
        z-index: 1000;
        #bg{
            padding: 45px 0 40px;
            background-color: @white;
        }

        h2{
            margin-top: 10px;
            color: @black;
            .barlow-regular();
            font-size: 36px;
            line-height: 36px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    #products-nav{
        text-align: center;
        list-style-type: none;
        margin-bottom: 0;
        margin-top: 30px;

        li{
            display: inline-block;
            margin-right: 30px;

            &.active, &:hover{
                a{

                    span{
                        color: @blue;
                        .transition(all .3s cubic-bezier(0.250, 0.250, 0.750, 0.750));
                    }
                }
            }

            a{
                display: inline-block;
                margin: 0 auto;
                width: 100%;
                overflow: hidden;

                span{
                    display: block;
                    color: @black;
                    background-color: @white;
                    .barlow-extra-bold();
                    font-size: 9.5px;
                    line-height: 9px;
                    .transition(all .3s ease-in);
                }

                i{
                    display: block;
                    width: 55px;
                    height: 50px;
                    margin: 0 auto;
                    margin-bottom: 8px;
                    overflow: hidden;
                }
            }

            &.editor{
                a{
                    background: url(/images/PowerEditor.png) center -80px no-repeat;
                    .img-retina("/images/PowerEditor.png", "/images/PowerEditor.png", 50px, 47px);
                    i{
                        height: 47px;
                        .editor-icon();
                    }
                }
            }

            &.webhook{
                a{
                    background: url(/images/WebhookToJenkins.png) center -80px no-repeat;
                    .img-retina("/images/WebhookToJenkins.png", "/images/WebhookToJenkins.png", 50px, 54px);
                    i{
                        height: 54px;
                        .webhook-icon();
                    }
                }
            }

            &.sourceeditor{
                a{
                    background: url(/images/SourceEditor.png) center -80px no-repeat;
                    .img-retina("/images/SourceEditor.png", "/images/SourceEditor.png", 50px, 43px);
                    i{
                        height: 43px;
                        .sourceeditor-icon();
                    }
                }
            }

            &.markdown{
                a{
                    background: url(/images/MarkdownExtensions.png) center -80px no-repeat;
                    .img-retina("/images/MarkdownExtensions.png", "/images/MarkdownExtensions.png", 50px, 53px);
                    i{
                        height: 53px;
                        .markdown-icon();
                    }
                }
            }

            &.github{
                a{
                    background: url(/images/GithubMacros.png) center -80px no-repeat;
                    .img-retina("/images/GithubMacros.png", "/images/GithubMacros.png", 50px, 49px);
                    i{
                        height: 49px;
                        .github-icon();
                    }
                }
            }

            &.cruciblehook{
                a{
                    background: url(/images/CrucibleReviewHook.png) center -80px no-repeat;
                    .img-retina("/images/CrucibleReviewHook.png", "/images/CrucibleReviewHook.png", 50px, 53px);

                    i{
                        height: 53px;
                        .cruciblehook-icon();
                    }
                }
            }

            &.autowatch{
                a{
                    background: url(/images/Autowatch.png) center -80px no-repeat;
                    .img-retina("/images/Autowatch.png", "/images/Autowatch.png", 50px, 50px);

                    i{
                        .autowatch-icon();
                    }
                }
            }

            &.charts{
                a{
                    background: url(/images/Charts.png) center -80px no-repeat;
                    .img-retina("/images/Charts.png", "/images/Charts.png", 50px, 50px);

                    i{
                        .charts-icon();
                    }
                }
            }

            &.security{
                a{
                    background: url(/images/Security.png) center -80px no-repeat;
                    .img-retina("/images/Security.png", "/images/Security.png", 50px, 50px);

                    i{
                        .security-icon();
                    }
                }
            }
            
            &.polls{
                a{
                    background: url(/images/Polls.png) center -80px no-repeat;
                    .img-retina("/images/Polls.png", "/images/Polls.png", 50px, 50px);

                    i{
                        .polls-icon();
                    }
                }
            }
            
            &.snip{
                a{
                    background: url(/images/SnippetsBb.png) center -80px no-repeat;
                    .img-retina("/images/SnippetsBb.png", "/images/SnippetsBb.png", 50px, 50px);

                    i{
                        .snip-icon();
                    }
                }
            }
  
            &.imgslider{
                a{
                    background: url(/images/ImageSlider.png) center -80px no-repeat;
                    .img-retina("/images/ImageSlider.png", "/images/ImageSlider.png", 50px, 50px);

                    i{
                        .imgslider-icon();
                    }
                }
            }
            
            &.dash{
                a{
                    background: url(/images/CustomDashboards.png) center -80px no-repeat;
                    .img-retina("/images/CustomDashboards.png", "/images/CustomDashboards.png", 50px, 50px);

                    i{
                        .dash-icon();
                    }
                }
            }

            &.news{
                a{
                    background: url(/images/NewsTeaser.png) center -80px no-repeat;
                    .img-retina("/images/NewsTeaser.png", "/images/NewsTeaser.png", 50px, 50px);

                    i{
                        .news-icon();
                    }
                }
            }

            &.pages{
                a{
                    background: url(/images/Pages.png) center -80px no-repeat;
                    .img-retina("/images/Pages.png", "/images/Pages.png", 50px, 50px);

                    i{
                        .pages-icon();
                    }
                }
            }

            &.yacc{
                a{
                    background: url(/images/YACC.png) center -80px no-repeat;
                    .img-retina("/images/YACC.png", "/images/YACC.png", 50px, 50px);

                    i{
                        .yacc-icon();
                    }
                }
            }

            &.space{
                a{
                    background: url(/images/Spacetree.png) center -80px no-repeat;
                    .img-retina("/images/Spacetree.png", "/images/Spacetree.png", 50px, 50px);

                    i{
                        .space-icon();
                    }
                }
            }

            &.snipc{
                a{
                    background: url(/images/SnippetsConf.png) center -80px no-repeat;
                    .img-retina("/images/SnippetsConf.png", "/images/SnippetsConf.png", 50px, 50px);

                    i{
                        .snipc-icon();
                    }
                }
            }
            /* ================== REMOVED APPS BELOW ==================

            &.automation{
                a{
                    background: url(/images/AutomationTools.png) center -80px no-repeat;
                    .img-retina("/images/AutomationTools.png", "/images/AutomationTools.png", 50px, 48px);

                    i{
                        height: 48px;
                        .automation-icon();
                    }
                }
            }

            &.automationlite{
                a{
                    background: url(/images/AutomationToolsLite.png) center -80px no-repeat;
                    .img-retina("/images/AutomationToolsLite.png", "/images/AutomationToolsLite.png", 50px, 42px);

                    i{
                        height: 42px;
                        .automationlite-icon();
                    }
                }
            }
            
            &.reviewboard{
                a{
                    background: url(/images/ReviewboardIntegrations.png) center -80px no-repeat;
                    .img-retina("/images/ReviewboardIntegrations.png", "/images/ReviewboardIntegrations.png", 50px, 50px);

                    i{
                        .reviewboard-icon();
                    }
                }
            }

            &.search{
                a{
                    background: url(/images/SmarterSearch.png) center -80px no-repeat;
                    .img-retina("/images/SmarterSearch.png", "/images/SmarterSearch.png", 50px, 48px);

                    i{
                        height: 48px;
                        .search-icon();
                    }
                }
            }
            
            &.rstviewer{
                a{
                    background: url(/images/RestructuredTextViewer.png) center -80px no-repeat;
                    .img-retina("/images/RestructuredTextViewer.png", "/images/RestructuredTextViewer.png", 50px, 47px);
                    i{
                        height: 47px;
                        .rstviewer-icon();
                    }
                }
            }

            &.customcontent{
                a{
                    background: url(/images/CustomContentGadget.png) center -80px no-repeat;
                    .img-retina("/images/CustomContentGadget.png", "/images/CustomContentGadget.png", 50px, 43px);

                    i{
                        height: 43px;
                        .customcontent-icon();
                    }
                }
            }

           =========================================================== */

        }
    }

    #products-display{
        width: 100%;
        padding: 130px 0;
        background-color: @dark-background;
        .transition(all .3s cubic-bezier(0.250, 0.250, 0.750, 0.750));
        margin-top: -5px; //for the border-bottom;

        .row-title {
            text-align: center;
            padding-bottom: 1em;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
            font-size: 30px;
            color: @white;
        }

        .logos{
            .product-logo{
                display: block;
                width: 208px;
                height: 202px;
                margin: 0 auto;
            }
        }

        .descs{
            p{
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
                font-size: 16px;
                line-height: 22px;
                color: @white;
                margin-bottom: 25px;
            }
            .outline-btn{
                margin-left: 15px;
            }
        }

    }
}

#customers {
    color: @white;
    background-color: #3F3F3F;
    text-align: center;

    h1 {
        padding: 0 0 60px 0;
        font-size: 34px;
        color: @white;
        .barlow-bold;
        padding-top: 0px;
    }

    .customer-logos {
        background: url(/images/logo-grid.png) 0 0 no-repeat;
        .img-retina("/images/logo-grid.png", "/images/logo-grid.png", 384px, 368px);
        height: 384px;
        width: 384px;
        margin-left: 0;
    }
}


.hiring {
    position: relative;

    h2 {
        font-size: 45px;
        line-height: 48px;
        color: @blue;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    p{
        font-size: 17px;
        line-height: 22px;
        color: @gray;
        margin-bottom: 20px;
    }

    .photo{
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: url(/images/hiring-photo.jpg) center center no-repeat;
        .img-retina("/images/hiring-photo.jpg", "/images/hiring-photo.jpg", 0, 0);
        background-size: cover !important;
    }
}


@media (max-width: 1200px) {
    .customers {
        ul.customer-logos {
            li {
                width: 25%;
            }
        }
    }

    #products{
        #products-header{
            h2{
                margin-bottom: 30px;
            }
        }

        #products-nav{
            text-align: center;

            li{
                display: inline-block;
                float: none;
                margin-right: 30px;
            }
        }
    }
}

@media (min-width: 992px) {
    .customers ul.customer-logos li{
        width: 20%;
    }
    #customers {
		
		h1 {
			padding-top: 153px;
		}
	
		.customer-logos {
			margin-left: 0px;
		}
	}
}

@media (max-width: 992px) {

    #news{
        .r50{
            width: 100%;
            //padding-top: 120px;
            padding-bottom: 120px;
        }
    }
    #customers {
				
		.customer-logos {
			margin-left: 22%;
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {

    #products{
        #products-display{
            .descs{
                a{
                    text-align: center;
                    display: block;
                }
                .outline-btn{
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    #customers {
				
		.customer-logos {
			margin-left: 25%;
		}
	}
}

@media (max-width: 720px) {
    .customers ul.customer-logos li{
        width: 33.3333%;
    }
    #customers {
				
		.customer-logos {
			margin-left: 18%;
		}
	}
}

@media (max-width: 620px) and (min-width: 482px) {
    #customers {
				
		.customer-logos {
			margin-left: 12%;
		}
	}

}

@media (max-width: 480px) {
    .customers ul.customer-logos li{
        width: 50%;
    }
    #customers {
				
        .customer-logos {
            margin-left: 8%;
            background-size: 330px 330px;
        }
    }
}

@media (max-width: 320px) {
    .customers ul.customer-logos li{
        background-position: 0 0;
        width: 180px;
        /* float:left; */
        margin: 0 auto;
        display: block;
        float:  none
    }

    #news{
        .blog-entry-right{

            h3{
                margin-bottom: 2px;
                color: @blue;
                font-size: 36px;
                line-height: 36px;
                text-transform: uppercase;
            }

            h2{
                margin-bottom: 50px;
                color: @black;
                font-size: 44px;
            }
        }
    }

    .customers {
        h1 {
            font-size: 35px;
            line-height: 48px;
        }
    }

    #products #products-display .logos{
        margin-bottom: 15px;
    }

    #products #products-display .descs .hbtn{
        min-width: 180px;
        text-align: center;
    }

    #products #products-display .descs .outline-btn{
        margin-top: 10px;
        margin-left: 0;
    }
    #customers {
				
		.customer-logos {
			margin-left: 5%;
			background-size: 260px 260px;
		}
	}
}
