//
// Utility classes
// --------------------------------------------------


//
// -------------------------

.anti-alias() {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.skewY(@skew) {
    -webkit-transform: skewY(@skew);
    -moz-transform: skewY(@skew);
    -ms-transform: skewY(@skew);
    -o-transform: skewY(@skew);
    transform: skewY(@skew);
}
.gray-text-gradient() {
    background: -webkit-linear-gradient(left, @black, #7c888c, #868686, #7c888c, #202020 );
    background-size: 560px 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: animatetextgradient;
    -webkit-animation-delay: 0;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes animatetextgradient {
    0% {
        background-position: 0 560px;
    }
    100% {
        background-position: 560px 0;
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}
@-moz-keyframes pulse1 {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
        background-color: @map-red;
    }
    20% {
        -moz-transform: scale(.1);
        opacity: 0;
        background-color: @map-red;
    }
    40% {
        -moz-transform: scale(.4);
        opacity: .4;
        background-color: @map-red;
    }
    60% {
        -moz-transform: scale(.7);
        opacity: .6;
        background-color: @map-red;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0;
        background-color: transparent;
    }
}
@-webkit-keyframes pulse1 {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
        background-color: @map-red;
    }
    20% {
        -webkit-transform: scale(.1);
        opacity: 0;
        background-color: @map-red;
    }
    40% {
        -webkit-transform: scale(.4);
        opacity: .4;
        background-color: @map-red;
    }
    60% {
        -webkit-transform: scale(.7);
        opacity: .6;
        background-color: @map-red;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
        background-color: transparent;
    }
}
@-moz-keyframes bounce {
    0% {
        opacity: 0;
        -moz-transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(30px) rotate(-45deg);
    }
    80% {
        -moz-transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        -moz-transform: translateY(0) rotate(0);
    }
}
@-webkit-keyframes bounce {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px) rotate(-45deg);
    }
    80% {
        -webkit-transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}
@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }
    80% {
        transform: translateY(-10px) rotate(-45deg);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.editor-icon {
    background: url(/images/PowerEditor.png) 0 0 no-repeat;
    .img-retina("/images/PowerEditor.png", "/images/PowerEditor.png", 50px, 47px);
}
.autowatch-icon {
    background: url(/images/Autowatch.png) 0 0 no-repeat;
    .img-retina("/images/Autowatch.png", "/images/Autowatch.png", 50px, 50px);
}
.markdown-icon {
    background: url(/images/MarkdownExtensions.png) 0 0 no-repeat;
    .img-retina("/images/MarkdownExtensions.png", "/images/MarkdownExtensions.png", 50px, 53px);
}
.github-icon {
    background: url(/images/GithubMacros.png) 0 0 no-repeat;
    .img-retina("/images/GithubMacros.png", "/images/GithubMacros.png", 50px, 49px);
}
.sourceeditor-icon {
    background: url(/images/SourceEditor.png) 0 0 no-repeat;
    .img-retina("/images/SourceEditor.png", "/images/SourceEditor.png", 50px, 43px);
}
.cruciblehook-icon {
    background: url(/images/CrucibleReviewHook.png) 0 0 no-repeat;
    .img-retina("/images/CrucibleReviewHook.png", "/images/CrucibleReviewHook.png", 50px, 53px);
}
.webhook-icon {
    background: url(/images/WebhookToJenkins.png) 0 0 no-repeat;
    .img-retina("/images/WebhookToJenkins.png", "/images/WebhookToJenkins.png", 50px, 54px);
}
.charts-icon {
    background: url(/images/Charts.png) 0 0 no-repeat;
    .img-retina("/images/Charts.png", "/images/Charts.png", 50px, 54px);
}
.security-icon {
    background: url(/images/Security.png) 0 0 no-repeat;
    .img-retina("/images/Security.png", "/images/Security.png", 50px, 50px);
}
.polls-icon {
    background: url(/images/Polls.png) 0 0 no-repeat;
    .img-retina("/images/Polls.png", "/images/Polls.png", 50px, 50px);
}
.snip-icon {
    background: url(/images/SnippetsBb.png) 0 0 no-repeat;
    .img-retina("/images/SnippetsBb.png", "/images/SnippetsBb.png", 50px, 50px);
}
.imgslider-icon {
    background: url(/images/ImageSlider.png) 0 0 no-repeat;
    .img-retina("/images/ImageSlider.png", "/images/ImageSlider.png", 50px, 50px);
}
.dash-icon {
    background: url(/images/CustomDashboards.png) 0 0 no-repeat;
    .img-retina("/images/CustomDashboards.png", "/images/CustomDashboards.png", 50px, 50px);
}
.news-icon {
    background: url(/images/NewsTeaser.png) 0 0 no-repeat;
    .img-retina("/images/NewsTeaser.png", "/images/NewsTeaser.png", 50px, 50px);
}
.pages-icon {
    background: url(/images/Pages.png) 0 0 no-repeat;
    .img-retina("/images/Pages.png", "/images/Pages.png", 50px, 50px);
}
.yacc-icon {
    background: url(/images/YACC.png) 0 0 no-repeat;
    .img-retina("/images/YACC.png", "/images/YACC.png", 50px, 50px);
}
.space-icon {
    background: url(/images/Spacetree.png) 0 0 no-repeat;
    .img-retina("/images/Spacetree.png", "/images/Spacetree.png", 50px, 50px);
}
.snipc-icon {
    background: url(/images/SnippetsConf.png) 0 0 no-repeat;
    .img-retina("/images/SnippetsConf.png", "/images/SnippetsConf.png", 50px, 50px);
}
.hashicorp-icon {
    background: url(/images/mohamicorp-medium.png) 0 0 no-repeat;
    .img-retina("/images/mohamicorp-medium.png", "/images/mohamicorp-medium@2x.png", 50px, 54px);
}
.twitter-about {
    background: url(/images/twitter-about.png) 0 0 no-repeat;
    .img-retina("/images/twitter-about.png", "/images/twitter-about@2x.png", 39px, 34px);
}
/* ================== REMOVED APPS BELOW ==================
.rstviewer-icon {
    background: url(/images/RestructuredTextViewer.png) 0 0 no-repeat;
    .img-retina("/images/RestructuredTextViewer.png", "/images/RestructuredTextViewer.png", 50px, 47px);
}
.automation-icon {
    background: url(/images/AutomationTools.png) 0 0 no-repeat;
    .img-retina("/images/AutomationTools.png", "/images/AutomationTools.png", 50px, 48px);
}
.automationlite-icon {
    background: url(/images/AutomationToolsLite.png) 0 0 no-repeat;
    .img-retina("/images/AutomationToolsLite.png", "/images/AutomationToolsLite.png", 50px, 42px);
}
.reviewboard-icon {
    background: url(/images/ReviewboardIntegrations.png) 0 0 no-repeat;
    .img-retina("/images/ReviewboardIntegrations.png", "/images/ReviewboardIntegrations.png", 50px, 50px);
}
.search-icon {
    background: url(/images/SmarterSearch.png) 0 0 no-repeat;
    .img-retina("/images/SmarterSearch.png", "/images/SmarterSearch.png", 50px, 48px);
}
.customcontent-icon {
    background: url(/images/CustomContentGadget.png) 0 0 no-repeat;
    .img-retina("/images/CustomContentGadget.png", "/images/CustomContentGadget.png", 50px, 43px);
}
=========================================================== */

.offbg {
    background-color: @light-gray-background;
}
.fadein {
    opacity: 0;
    .transition(all .6s ease-in-out);
    &.in {
        opacity: 1;
        .transition(all .6s ease-in-out);
    }
}
.slideDown {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    60% {
        transform: translateY(8%);
    }
    85% {
        transform: translateY(-4%);
    }
    100% {
        transform: translateY(0%);
    }
}
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    60% {
        -webkit-transform: translateY(8%);
    }
    85% {
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.hexPulse {
    animation-duration: 8s;
    -webkit-animation-duration: 8s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    visibility: visible !important;
    &.hex1 {
        animation-name: hexpulse;
        -webkit-animation-name: hexpulse;
    }
    &.hex2 {
        animation-name: hexpulse2;
        -webkit-animation-name: hexpulse2;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }
    &.hex3 {
        animation-name: hexpulse3;
        -webkit-animation-name: hexpulse3;
        animation-delay: 2s;
        -webkit-animation-delay: 2s;
    }
    &.hex4 {
        animation-name: hexpulse4;
        -webkit-animation-name: hexpulse4;
        animation-delay: 3s;
        -webkit-animation-delay: 3s;
    }
}
@keyframes hexpulse {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hexpulse {
    0% {
        opacity: 0;
    }
    40% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hexpulse2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .54;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hexpulse2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .54;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hexpulse3 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: .28;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hexpulse3 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: .28;
    }
    100% {
        opacity: 0;
    }
}
@keyframes hexpulse4 {
    0% {
        opacity: 0;
    }
    70% {
        opacity: .18;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hexpulse4 {
    0% {
        opacity: 0;
    }
    70% {
        opacity: .18;
    }
    100% {
        opacity: 0;
    }
}
