/*
/|\/|\/|\/|\/|\/|\
h a s h i c o r p
\|/\|/\|/\|/\|/\|/
*/
@-webkit-keyframes animatetextgradient {
  0% {
    background-position: 0 560px;
  }
  100% {
    background-position: 560px 0;
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}
@-moz-keyframes pulse1 {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
    background-color: #c24141;
  }
  20% {
    -moz-transform: scale(0.1);
    opacity: 0;
    background-color: #c24141;
  }
  40% {
    -moz-transform: scale(0.4);
    opacity: .4;
    background-color: #c24141;
  }
  60% {
    -moz-transform: scale(0.7);
    opacity: .6;
    background-color: #c24141;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
    background-color: transparent;
  }
}
@-webkit-keyframes pulse1 {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
    background-color: #c24141;
  }
  20% {
    -webkit-transform: scale(0.1);
    opacity: 0;
    background-color: #c24141;
  }
  40% {
    -webkit-transform: scale(0.4);
    opacity: .4;
    background-color: #c24141;
  }
  60% {
    -webkit-transform: scale(0.7);
    opacity: .6;
    background-color: #c24141;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    background-color: transparent;
  }
}
@-moz-keyframes bounce {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -moz-transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -moz-transform: translateY(0) rotate(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px) rotate(-45deg);
  }
  80% {
    -webkit-transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.editor-icon {
  background: url(/images/PowerEditor.png) 0 0 no-repeat;
  background-image: url("/images/PowerEditor.png");
  background-size: 50px 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .editor-icon {
    background-image: url("/images/PowerEditor.png");
    background-size: 50px 47px;
  }
}
.autowatch-icon {
  background: url(/images/Autowatch.png) 0 0 no-repeat;
  background-image: url("/images/Autowatch.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .autowatch-icon {
    background-image: url("/images/Autowatch.png");
    background-size: 50px 50px;
  }
}
.markdown-icon {
  background: url(/images/MarkdownExtensions.png) 0 0 no-repeat;
  background-image: url("/images/MarkdownExtensions.png");
  background-size: 50px 53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .markdown-icon {
    background-image: url("/images/MarkdownExtensions.png");
    background-size: 50px 53px;
  }
}
.github-icon {
  background: url(/images/GithubMacros.png) 0 0 no-repeat;
  background-image: url("/images/GithubMacros.png");
  background-size: 50px 49px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .github-icon {
    background-image: url("/images/GithubMacros.png");
    background-size: 50px 49px;
  }
}
.sourceeditor-icon {
  background: url(/images/SourceEditor.png) 0 0 no-repeat;
  background-image: url("/images/SourceEditor.png");
  background-size: 50px 43px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .sourceeditor-icon {
    background-image: url("/images/SourceEditor.png");
    background-size: 50px 43px;
  }
}
.cruciblehook-icon {
  background: url(/images/CrucibleReviewHook.png) 0 0 no-repeat;
  background-image: url("/images/CrucibleReviewHook.png");
  background-size: 50px 53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cruciblehook-icon {
    background-image: url("/images/CrucibleReviewHook.png");
    background-size: 50px 53px;
  }
}
.webhook-icon {
  background: url(/images/WebhookToJenkins.png) 0 0 no-repeat;
  background-image: url("/images/WebhookToJenkins.png");
  background-size: 50px 54px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .webhook-icon {
    background-image: url("/images/WebhookToJenkins.png");
    background-size: 50px 54px;
  }
}
.charts-icon {
  background: url(/images/Charts.png) 0 0 no-repeat;
  background-image: url("/images/Charts.png");
  background-size: 50px 54px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .charts-icon {
    background-image: url("/images/Charts.png");
    background-size: 50px 54px;
  }
}
.security-icon {
  background: url(/images/Security.png) 0 0 no-repeat;
  background-image: url("/images/Security.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .security-icon {
    background-image: url("/images/Security.png");
    background-size: 50px 50px;
  }
}
.polls-icon {
  background: url(/images/Polls.png) 0 0 no-repeat;
  background-image: url("/images/Polls.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .polls-icon {
    background-image: url("/images/Polls.png");
    background-size: 50px 50px;
  }
}
.snip-icon {
  background: url(/images/SnippetsBb.png) 0 0 no-repeat;
  background-image: url("/images/SnippetsBb.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .snip-icon {
    background-image: url("/images/SnippetsBb.png");
    background-size: 50px 50px;
  }
}
.imgslider-icon {
  background: url(/images/ImageSlider.png) 0 0 no-repeat;
  background-image: url("/images/ImageSlider.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .imgslider-icon {
    background-image: url("/images/ImageSlider.png");
    background-size: 50px 50px;
  }
}
.dash-icon {
  background: url(/images/CustomDashboards.png) 0 0 no-repeat;
  background-image: url("/images/CustomDashboards.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .dash-icon {
    background-image: url("/images/CustomDashboards.png");
    background-size: 50px 50px;
  }
}
.news-icon {
  background: url(/images/NewsTeaser.png) 0 0 no-repeat;
  background-image: url("/images/NewsTeaser.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .news-icon {
    background-image: url("/images/NewsTeaser.png");
    background-size: 50px 50px;
  }
}
.pages-icon {
  background: url(/images/Pages.png) 0 0 no-repeat;
  background-image: url("/images/Pages.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .pages-icon {
    background-image: url("/images/Pages.png");
    background-size: 50px 50px;
  }
}
.yacc-icon {
  background: url(/images/YACC.png) 0 0 no-repeat;
  background-image: url("/images/YACC.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .yacc-icon {
    background-image: url("/images/YACC.png");
    background-size: 50px 50px;
  }
}
.space-icon {
  background: url(/images/Spacetree.png) 0 0 no-repeat;
  background-image: url("/images/Spacetree.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .space-icon {
    background-image: url("/images/Spacetree.png");
    background-size: 50px 50px;
  }
}
.snipc-icon {
  background: url(/images/SnippetsConf.png) 0 0 no-repeat;
  background-image: url("/images/SnippetsConf.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .snipc-icon {
    background-image: url("/images/SnippetsConf.png");
    background-size: 50px 50px;
  }
}
.hashicorp-icon {
  background: url(/images/mohamicorp-medium.png) 0 0 no-repeat;
  background-image: url("/images/mohamicorp-medium.png");
  background-size: 50px 54px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hashicorp-icon {
    background-image: url("/images/mohamicorp-medium@2x.png");
    background-size: 50px 54px;
  }
}
.twitter-about {
  background: url(/images/twitter-about.png) 0 0 no-repeat;
  background-image: url("/images/twitter-about.png");
  background-size: 39px 34px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .twitter-about {
    background-image: url("/images/twitter-about@2x.png");
    background-size: 39px 34px;
  }
}
/* ================== REMOVED APPS BELOW ==================
.rstviewer-icon {
    background: url(/images/RestructuredTextViewer.png) 0 0 no-repeat;
    .img-retina("/images/RestructuredTextViewer.png", "/images/RestructuredTextViewer.png", 50px, 47px);
}
.automation-icon {
    background: url(/images/AutomationTools.png) 0 0 no-repeat;
    .img-retina("/images/AutomationTools.png", "/images/AutomationTools.png", 50px, 48px);
}
.automationlite-icon {
    background: url(/images/AutomationToolsLite.png) 0 0 no-repeat;
    .img-retina("/images/AutomationToolsLite.png", "/images/AutomationToolsLite.png", 50px, 42px);
}
.reviewboard-icon {
    background: url(/images/ReviewboardIntegrations.png) 0 0 no-repeat;
    .img-retina("/images/ReviewboardIntegrations.png", "/images/ReviewboardIntegrations.png", 50px, 50px);
}
.search-icon {
    background: url(/images/SmarterSearch.png) 0 0 no-repeat;
    .img-retina("/images/SmarterSearch.png", "/images/SmarterSearch.png", 50px, 48px);
}
.customcontent-icon {
    background: url(/images/CustomContentGadget.png) 0 0 no-repeat;
    .img-retina("/images/CustomContentGadget.png", "/images/CustomContentGadget.png", 50px, 43px);
}
=========================================================== */
.offbg {
  background-color: #f7f7f9;
}
.fadein {
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.fadein.in {
  opacity: 1;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.slideDown {
  animation-name: slideDown;
  -webkit-animation-name: slideDown;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(8%);
  }
  85% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  60% {
    -webkit-transform: translateY(8%);
  }
  85% {
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.hexPulse {
  animation-duration: 8s;
  -webkit-animation-duration: 8s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  visibility: visible !important;
}
.hexPulse.hex1 {
  animation-name: hexpulse;
  -webkit-animation-name: hexpulse;
}
.hexPulse.hex2 {
  animation-name: hexpulse2;
  -webkit-animation-name: hexpulse2;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.hexPulse.hex3 {
  animation-name: hexpulse3;
  -webkit-animation-name: hexpulse3;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.hexPulse.hex4 {
  animation-name: hexpulse4;
  -webkit-animation-name: hexpulse4;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}
@keyframes hexpulse {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hexpulse {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hexpulse2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .54;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hexpulse2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .54;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hexpulse3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: .28;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hexpulse3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: .28;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hexpulse4 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: .18;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes hexpulse4 {
  0% {
    opacity: 0;
  }
  70% {
    opacity: .18;
  }
  100% {
    opacity: 0;
  }
}
.round-corners {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.rounded {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}
.animate-background-color {
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
}
.animate-text-color {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
.animate-opacity {
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}
.drop-shadow {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1) !important;
  transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}
.hyphenate {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.uppercase {
  text-transform: uppercase;
}
.reset {
  margin: 0;
  padding: 0;
}
.kill-effects {
  -webkit-box-shadow: 0 0;
  -moz-box-shadow: 0 0;
  box-shadow: 0 0;
}
.debug {
  border: 1px solid #ff0000;
}
.hover:hover {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
.green-dark-gradient {
  background: #257350;
  /* Old browsers */
  background: -moz-linear-gradient(top, #257350 0%, #091b13 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #257350), color-stop(100%, #091b13));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #257350 0%, #091b13 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #257350 0%, #091b13 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #257350 0%, #091b13 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #257350 0%, #091b13 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#257350', endColorstr='#091b13', GradientType=0);
  /* IE6-9 */
}
.hbtn {
  line-height: 30px;
}
.hbtn.large {
  padding: 8px 30px;
  font-size: 18px;
}
.hbtn.large.outline-btn {
  line-height: 24px;
}
.hbtn.small {
  padding: 2px 12px;
  font-size: 11px;
}
.hbtn.small.outline-btn {
  line-height: 24px;
}
.hbtn:hover {
  text-decoration: none;
}
.rss.hbtn {
  padding: 0 20px;
  margin-left: 8px;
  color: #fefefe;
  background: #fb8b48 url(/images/rss-icon.png) center no-repeat;
  background-image: url("/images/rss-icon.png");
  background-size: 15px 15px;
  text-indent: -9999px;
  white-space: nowrap;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(251, 139, 72, 0.2);
  -moz-box-shadow: 2px 2px 0px 1px rgba(251, 139, 72, 0.2);
  box-shadow: 2px 2px 0px 1px rgba(251, 139, 72, 0.2);
  -webkit-transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .rss.hbtn {
    background-image: url("/images/rss-icon@2x.png");
    background-size: 15px 15px;
  }
}
.rss.hbtn:hover {
  background-color: #151515;
  -webkit-box-shadow: 3px 4px 0px 1px rgba(251, 139, 72, 0.15);
  -moz-box-shadow: 3px 4px 0px 1px rgba(251, 139, 72, 0.15);
  box-shadow: 3px 4px 0px 1px rgba(251, 139, 72, 0.15);
  -webkit-transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
}
.outline-btn {
  display: inline-block;
  background-color: transparent;
  color: #fefefe;
  border: 3px solid #fefefe;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.outline-btn.black {
  color: #151515;
  border: 3px solid #151515;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.outline-btn.buttongray {
  color: #666666;
  border: 3px solid #666666;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.outline-btn:hover {
  color: #fefefe;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 4px 6px 0px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 6px 0px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 6px 0px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.outline-btn:hover.black {
  color: #151515;
  background-color: rgba(0, 0, 25, 0.1);
}
a.fill-btn {
  display: inline-block;
  color: #151515;
  background-color: white;
  font-size: 12px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.fill-btn:hover {
  color: #151515;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 4px 6px 0px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 4px 6px 0px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 4px 6px 0px 1px rgba(0, 0, 0, 0.08);
}
a.fill-btn.blue {
  color: #fefefe;
  background-color: #27a9e0 !important;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0, 140, 232, 0.2);
  -moz-box-shadow: 2px 2px 0px 1px rgba(0, 140, 232, 0.2);
  box-shadow: 2px 2px 0px 1px rgba(0, 140, 232, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a.fill-btn.blue:hover {
  -webkit-box-shadow: 4px 6px 0px 1px rgba(0, 140, 232, 0.15);
  -moz-box-shadow: 4px 6px 0px 1px rgba(0, 140, 232, 0.15);
  box-shadow: 4px 6px 0px 1px rgba(0, 140, 232, 0.15);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.light-caret-right {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin-left: 8px;
  background: url(/images/light-caret-right.png) 0 0 no-repeat;
  background-image: url("/images/light-caret-right.png");
  background-size: 10px 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .light-caret-right {
    background-image: url("/images/light-caret-right@2x.png");
    background-size: 10px 15px;
  }
}
.light-caret-right.small {
  width: 6px;
  height: 9px;
  margin-left: 6px;
  background-size: 6px 9px;
}
.black-caret-right {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin-left: 9px;
  background: url(/images/black-caret-right.png) 0 0 no-repeat;
  background-image: url("/images/black-caret-right.png");
  background-size: 10px 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .black-caret-right {
    background-image: url("/images/black-caret-right@2x.png");
    background-size: 10px 15px;
  }
}
.black-caret-right.small {
  width: 6px;
  height: 9px;
  margin-left: 6px;
  background-size: 6px 9px;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 18px;
  line-height: 1.55em;
  color: #343434;
  background-color: #fefefe;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
i {
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: inherit;
  text-rendering: optimizelegibility;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
}
h1 {
  color: #151515;
  font-size: 70px;
  letter-spacing: 1px;
  font-weight: 700;
}
h1 span {
  font-size: 30px;
  display: block;
}
h2 {
  font-size: 30px;
  line-height: 30px;
}
h3 {
  font-size: 30px;
  line-height: 30px;
}
h4 {
  font-size: 24px;
  line-height: 24px;
}
h5 {
  font-size: 20px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 12px;
}
p,
ul,
ol {
  font-size: 18px;
  line-height: 1.55em;
  margin-bottom: 20px;
}
p a {
  color: #27a9e0;
}
p a:hover {
  text-decoration: underline;
}
a,
ul.unstyled a {
  text-decoration: none;
  border-bottom: none;
}
a:hover,
ul.unstyled a:hover {
  text-decoration: none;
  color: #27a9e0;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
blockquote {
  border: none;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 35px;
  margin-bottom: 35px;
}
blockquote p {
  font-size: 19px;
  font-style: italic;
}
blockquote cite {
  font-size: 19px;
  font-style: italic;
}
blockquote cite:before {
  content: "\2014 \2009";
}
strong {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
}
em {
  font-family: "Barlow", sans-serif;
  font-style: italic;
  font-weight: 400;
}
br {
  display: block;
  margin-top: 1.55em;
}
pre,
code {
  font-family: 'Inconsolata', monaco, courier, monospace;
}
code {
  font-size: 15px;
}
pre {
  border: none;
  font-size: 16px;
  background: #151515;
  color: #fefefe;
  padding: 20px;
  letter-spacing: normal;
  line-height: 1.55em;
}
pre span {
  color: #73c5dd;
}
.vr {
  width: 2px;
  height: 100%;
}
/* type and styles */
.meta,
.legal,
.date {
  color: #666666;
  line-height: 1.55em;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.date {
  text-transform: uppercase;
}
.button {
  color: #fefefe;
  text-align: center;
  background-color: #5be764;
  display: block;
  padding: 6px 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  border-radius: 50px;
}
.button:hover {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
}
.button:hover {
  background-color: #3ce247;
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
}
.button.disabled {
  background-color: #f7f7f9;
}
.loading {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #666666;
  padding: 30px 0 20px;
}
.col-sm-pull-6 {
  position: relative;
  right: 50%;
}
.col-sm-push-6 {
  position: relative;
  left: 50%;
}
.col-sm-pull-5 {
  position: relative;
  right: 41.66666666666667%;
}
.col-sm-push-5 {
  position: relative;
  left: 41.66666666666667%;
}
.inner-page .inner-page-header {
  background-color: #27a9e0;
  color: #fefefe;
}
.inner-page .inner-page-header h1 {
  color: #fefefe;
  padding: 25px 0 54px 15px;
  font-size: 52px;
  line-height: 1.1em;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: left;
}
.gray {
  background-color: #f6f7fb;
}
.blue {
  background-color: #1e71a1;
}
.page-title {
  background-color: #f6f7fb;
}
.page-title h1 {
  color: #27a9e0;
  font-size: 36px;
  line-height: 36px;
  margin: 50px 0;
}
.page article {
  padding: 60px 0;
}
.page article h2 {
  margin-bottom: 20px;
  color: #151515;
  font-size: 42px;
  line-height: 1.1em;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}
.page article h3 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 1.1em;
}
.page article .meta-wrap {
  margin-bottom: 20px;
}
@media (max-width: 1281px) {
  .inner-page .inner-page-header h1 {
    padding: 20px 0 27px 15px;
  }
}
#header {
  position: relative;
  height: 100px;
  color: #fefefe;
  text-rendering: optimizeLegibility;
  margin-bottom: 0;
  background-color: #fefefe;
}
#header.navbar-static-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1000;
}
#header .navbar-toggle {
  margin-top: 26px;
  margin-bottom: 14px;
  margin-right: 0;
  border: 2px solid #fefefe;
  border-radius: 0;
}
#header .navbar-toggle .icon-bar {
  border: 1px solid #fefefe;
  border-radius: 0;
}
#header .navbar-brand.logo {
  margin-top: 30px;
  padding: 0 0 0 148px;
  height: 40px;
  line-height: 39px;
  font-size: 24px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
#header .navbar-brand.white.logo {
  background: url(/images/mohamicorp-white-logo.png) 0 0 no-repeat;
  background-image: url("/images/mohamicorp-white-logo.png");
  background-size: 37px 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #header .navbar-brand.white.logo {
    background-image: url("/images/mohamicorp-white-logo@2x.png");
    background-size: 37px 40px;
  }
}
#header .navbar-brand.black.logo {
  color: #151515;
  background: url(/images/blue-logo-with-name.png) 0 0 no-repeat;
  background-image: url("/images/blue-logo-with-name.png");
  background-size: 37px 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #header .navbar-brand.black.logo {
    background-image: url("/images/blue-logo-with-name.png");
    background-size: 37px 40px;
  }
}
#header .navbar-brand.blue.logo {
  color: #27a9e0;
  background: url(/images/blue-logo-with-name.png) 0 0 no-repeat;
  background-image: url("/images/blue-logo-with-name.png");
  background-size: 148px 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #header .navbar-brand.blue.logo {
    background-image: url("/images/blue-logo-with-name.png");
    background-size: 148px 30px;
  }
}
#header .navbar-nav {
  -webkit-font-smoothing: antialiased;
}
#header .nav > li > a:hover,
#header .nav > li > a:focus {
  background-color: transparent;
  color: #151515;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
#header .main-links.navbar-nav {
  margin-left: 28px;
}
#header .main-links.navbar-nav li + li {
  padding-left: 6px;
}
#header .main-links.navbar-nav li > a {
  color: #151515;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 1px;
  padding-left: 22px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin: 0 8px;
  padding: 0 0 0 10px;
}
#header .main-links.navbar-nav li > a:hover {
  color: #27a9e0;
}
#header .main-links.navbar-nav li.first > a {
  padding-left: 15px;
}
#header .collapse {
  margin-top: 35px;
}
#header .buttons.navbar-nav .fill-btn {
  padding-left: 35px;
}
#header .buttons.navbar-nav li.first {
  margin-right: 13px;
}
body.index #header,
body.blog #header {
  background-color: #fefefe;
}
body.index #header .navbar-toggle,
body.blog #header .navbar-toggle {
  background-color: #fefefe;
  border-color: #151515;
}
body.index #header .navbar-toggle .icon-bar,
body.blog #header .navbar-toggle .icon-bar {
  border-color: #151515;
}
body.index #header .main-links.navbar-nav li > a,
body.blog #header .main-links.navbar-nav li > a {
  color: #151515;
}
body.index #header .main-links.navbar-nav li > a:hover,
body.blog #header .main-links.navbar-nav li > a:hover {
  color: #27a9e0;
}
body.index #header .buttons.navbar-nav .black-caret-right,
body.blog #header .buttons.navbar-nav .black-caret-right {
  display: inline-block;
  width: 10px;
  height: 15px;
  margin-left: 8px;
  background: url(/images/light-caret-right.png) 0 0 no-repeat;
  background-image: url("/images/light-caret-right.png");
  background-size: 10px 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.index #header .buttons.navbar-nav .black-caret-right,
  body.blog #header .buttons.navbar-nav .black-caret-right {
    background-image: url("/images/light-caret-right@2x.png");
    background-size: 10px 15px;
  }
}
body.index #header .buttons.navbar-nav .black-caret-right.small,
body.blog #header .buttons.navbar-nav .black-caret-right.small {
  width: 6px;
  height: 9px;
  margin-left: 6px;
  background-size: 6px 9px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.index #header .buttons.navbar-nav .black-caret-right,
  body.blog #header .buttons.navbar-nav .black-caret-right {
    background-image: url("/images/light-caret-right@2x.png");
    background-size: 10px 15px;
  }
}
body.index #header .buttons.navbar-nav .black-caret-right.small,
body.blog #header .buttons.navbar-nav .black-caret-right.small {
  width: 6px;
  height: 9px;
  margin-left: 6px;
  background-size: 6px 9px;
}
body.page-sub #header {
  height: 90px;
  background-color: #822ff7;
}
body.page-sub #header .navbar-collapse {
  background-color: rgba(255, 255, 255, 0.98);
}
body.page-sub #header .nav-logo {
  height: 90px;
}
body.page-sub #header .nav-white {
  height: 90px;
  background-color: white;
}
body.page-sub #header .main-links.navbar-nav {
  float: left !important;
}
body.page-sub #header .main-links.navbar-nav li > a {
  color: black;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
body.page-sub #header .buttons.nav > li > a,
body.page-sub #header .buttons.nav > li > a {
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
body.page-sub #header .buttons.nav > li > a:hover,
body.page-sub #header .buttons.nav > li > a:focus {
  background-color: black;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
body.page-sub #header .main-links.nav > li > a:hover,
body.page-sub #header .main-links.nav > li > a:focus {
  color: #822ff7;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (min-width: 1200px) {
  #header .main-links.navbar-nav li + li {
    padding-left: 6px;
  }
}
@media (min-width: 992px) {
  .collapse {
    margin-top: 8px;
  }
  .page-home #header .main-links.navbar-nav li + li {
    padding-left: 6px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  body.page-home .nav-logo {
    width: 30%;
  }
  body.page-home .nav-white {
    margin-top: 8px;
    width: 70%;
  }
  body.page-home .buttons.navbar-nav li > a {
    padding-right: 4px !important;
    text-indent: -9999px;
    white-space: nowrap;
  }
  .main-links.navbar-nav li > a {
    padding-right: 0px !important;
    margin-right: 0px !important;
  }
}
@media (max-width: 992px) {
  #header .navbar-brand.logo span {
    width: 120px;
    height: 39px;
    margin-top: 12px;
    background-size: 120px 39px;
  }
}
@media (max-width: 768px) {
  body.page-sub #header .nav-white {
    background-color: transparent;
  }
  #header .buttons.navbar-nav {
    float: none !important;
    margin: 0;
    padding-bottom: 0 !important;
  }
  #header .buttons.navbar-nav li.first {
    margin-right: 0;
  }
  #header .buttons.navbar-nav,
  #header .main-links.navbar-nav {
    display: block;
    padding-bottom: 15px;
  }
  #header .buttons.navbar-nav li,
  #header .main-links.navbar-nav li {
    display: block;
    float: none;
    margin-top: 15px;
  }
  #header .main-links.navbar-nav {
    float: left !important;
  }
  #header .main-links.navbar-nav li > a {
    padding: 0;
    padding-left: 0;
    line-height: 22px;
  }
}
@media (max-width: 768px) {
  body.index #header .nav-white,
  body.blog #header .nav-white {
    background-color: rgba(255, 255, 255, 0.9);
  }
  #header .collapse {
    margin-top: 0;
  }
  #header .nav-white {
    background-color: rgba(72, 180, 250, 0.88);
  }
  #header .buttons.navbar-nav {
    margin-top: 20px !important;
    text-align: center;
  }
  #header .main-links.navbar-nav li.first > a {
    padding-left: 0;
  }
  #header .main-links.navbar-nav {
    float: none !important;
    margin-left: -15px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  #header .navbar-brand.logo {
    padding: 0 0 0 54px !important;
    font-size: 20px !important;
    line-height: 42px !important;
    margin-top: 23px !important ;
    background-image: url("../images/header-logo.png");
    background-size: 39px 44px;
  }
  #feature-auto .terminal-text {
    line-height: 48px !important;
    font-size: 20px !important;
  }
}
@media (max-width: 320px) and only screen and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and only screen and (min--moz-device-pixel-ratio: 2), (max-width: 320px) and only screen and (-o-min-device-pixel-ratio: 2/1), (max-width: 320px) and only screen and (min-device-pixel-ratio: 2), (max-width: 320px) and only screen and (min-resolution: 192dpi), (max-width: 320px) and only screen and (min-resolution: 2dppx) {
  #header .navbar-brand.logo {
    background-image: url("../images/header-logo@2x.png");
    background-size: 39px 44px;
  }
}
#jumbotron-mask {
  position: relative;
  float: none;
  z-index: 0;
  background-color: #27a9e0;
  border-bottom: 6px solid rgba(64, 157, 218, 0.5);
  overflow: hidden;
}
#jumbotron {
  position: relative;
  padding-top: 0;
  padding-bottom: 20px;
  color: #ffffff;
  margin-top: -70px;
}
#jumbotron #jumbotron-content {
  padding-top: 70px;
  overflow: hidden;
}
#jumbotron #jumbotron-content .hero-headline h1 {
  margin-top: 180px;
  color: #fefefe;
  font-size: 34px;
  line-height: 37px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  opacity: .9;
}
#jumbotron #jumbotron-content .hero-headline h2 {
  margin-top: 20px;
  color: #fefefe;
  font-size: 20px;
  line-height: 23px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  opacity: .8;
}
#jumbotron #jumbotron-content .hero-headline .outline-btn {
  margin-top: 20px;
}
#jumbotron #jumbotron-content .jumbo-logo {
  position: relative;
  padding-top: 20px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-logo {
  position: absolute;
  top: 199px;
  left: 39px;
  width: 165px;
  height: 178px;
  background: url(/images/mohami-icon-white.png) 0 0 no-repeat;
  background-image: url("/images/mohami-icon-white.png");
  background-size: 165px 178px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #jumbotron #jumbotron-content .jumbo-logo .hero-logo {
    background-image: url("/images/mohami-icon-white2x.png");
    background-size: 165px 178px;
  }
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 60px;
  height: 53px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod {
  width: 200px;
  display: block;
  background-position: center !important;
  position: absolute;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod .name {
  bottom: -15px;
  position: absolute;
  display: block;
  color: #fefefe;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  text-align: center;
  line-height: 9px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p1 {
  top: 0;
  left: -20px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p2 {
  top: 120px;
  left: -70px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p3 {
  top: 240px;
  left: -20px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p4 {
  top: 300px;
  left: 100px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p5 {
  top: 242px;
  left: 240px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p6 {
  top: 120px;
  left: 300px;
}
#jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p7 {
  top: 4px;
  left: 230px;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagons {
  position: relative;
  width: 486px;
  height: 526px;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 486px;
  height: 526px;
  background: url(/images/hexagon.png) 0 0 no-repeat;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex1 {
  top: 134px;
  left: 0;
  width: 240px;
  height: 260px;
  background-size: 240px 260px;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex1.in {
  opacity: 1;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex2 {
  top: 90px;
  left: -41px;
  width: 322px;
  height: 348px;
  background-size: 322px 348px;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex2.in {
  opacity: .54;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex3 {
  top: 44px;
  left: -82px;
  width: 404px;
  height: 437px;
  background-size: 404px 437px;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex3.in {
  opacity: .28;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex4 {
  top: 0;
  left: -123px;
}
#jumbotron #jumbotron-content .jumbo-logo .hexagon.hex4.in {
  opacity: .18;
}
@media (min-width: 768px) {
  #jumbotron #jumbotron-content .jumbo-logo {
    margin-top: -40px;
  }
}
@media (max-width: 992px) {
  #jumbotron #jumbotron-content .hero-headline {
    text-align: center;
    margin-bottom: 40px;
  }
  #jumbotron #jumbotron-content .hero-headline h1 {
    margin-top: 0;
  }
  #jumbotron #jumbotron-content .jumbo-logo-wrap {
    float: none !important;
  }
  #jumbotron #jumbotron-content .jumbo-logo {
    width: 238px;
    margin: 0 auto;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hexagons {
    width: auto;
  }
}
@media (max-width: 340px) {
  #jumbotron #jumbotron-content .jumbo-logo {
    margin: -30px auto 0 auto;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod {
    background-position: center;
    position: absolute;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p1 {
    top: 0;
    left: 0px;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p2 {
    top: 0px;
    left: 107px;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p3 {
    top: 0px;
    left: 195px;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p4 {
    top: 98px;
    left: 180px;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p5 {
    top: 34px;
    left: 252px;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p6 {
    top: 0;
    left: 300px;
  }
  #jumbotron #jumbotron-content .jumbo-logo .hero-prod-logos .prod.p7 {
    top: 60px;
    left: 300px;
  }
}
article p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
article.hiring,
article.customers {
  padding: 120px 0;
}
div.align-center {
  text-align: center;
}
#products #products-header {
  position: relative;
  z-index: 1000;
}
#products #products-header #bg {
  padding: 45px 0 40px;
  background-color: #fefefe;
}
#products #products-header h2 {
  margin-top: 10px;
  color: #151515;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
#products #products-nav {
  text-align: center;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 30px;
}
#products #products-nav li {
  display: inline-block;
  margin-right: 30px;
  /* ================== REMOVED APPS BELOW ==================

            &.automation{
                a{
                    background: url(/images/AutomationTools.png) center -80px no-repeat;
                    .img-retina("/images/AutomationTools.png", "/images/AutomationTools.png", 50px, 48px);

                    i{
                        height: 48px;
                        .automation-icon();
                    }
                }
            }

            &.automationlite{
                a{
                    background: url(/images/AutomationToolsLite.png) center -80px no-repeat;
                    .img-retina("/images/AutomationToolsLite.png", "/images/AutomationToolsLite.png", 50px, 42px);

                    i{
                        height: 42px;
                        .automationlite-icon();
                    }
                }
            }
            
            &.reviewboard{
                a{
                    background: url(/images/ReviewboardIntegrations.png) center -80px no-repeat;
                    .img-retina("/images/ReviewboardIntegrations.png", "/images/ReviewboardIntegrations.png", 50px, 50px);

                    i{
                        .reviewboard-icon();
                    }
                }
            }

            &.search{
                a{
                    background: url(/images/SmarterSearch.png) center -80px no-repeat;
                    .img-retina("/images/SmarterSearch.png", "/images/SmarterSearch.png", 50px, 48px);

                    i{
                        height: 48px;
                        .search-icon();
                    }
                }
            }
            
            &.rstviewer{
                a{
                    background: url(/images/RestructuredTextViewer.png) center -80px no-repeat;
                    .img-retina("/images/RestructuredTextViewer.png", "/images/RestructuredTextViewer.png", 50px, 47px);
                    i{
                        height: 47px;
                        .rstviewer-icon();
                    }
                }
            }

            &.customcontent{
                a{
                    background: url(/images/CustomContentGadget.png) center -80px no-repeat;
                    .img-retina("/images/CustomContentGadget.png", "/images/CustomContentGadget.png", 50px, 43px);

                    i{
                        height: 43px;
                        .customcontent-icon();
                    }
                }
            }

           =========================================================== */
}
#products #products-nav li.active a span,
#products #products-nav li:hover a span {
  color: #27a9e0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
#products #products-nav li a {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
#products #products-nav li a span {
  display: block;
  color: #151515;
  background-color: #fefefe;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 9.5px;
  line-height: 9px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#products #products-nav li a i {
  display: block;
  width: 55px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 8px;
  overflow: hidden;
}
#products #products-nav li.editor a {
  background: url(/images/PowerEditor.png) center -80px no-repeat;
  background-image: url("/images/PowerEditor.png");
  background-size: 50px 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.editor a {
    background-image: url("/images/PowerEditor.png");
    background-size: 50px 47px;
  }
}
#products #products-nav li.editor a i {
  height: 47px;
  background: url(/images/PowerEditor.png) 0 0 no-repeat;
  background-image: url("/images/PowerEditor.png");
  background-size: 50px 47px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.editor a i {
    background-image: url("/images/PowerEditor.png");
    background-size: 50px 47px;
  }
}
#products #products-nav li.webhook a {
  background: url(/images/WebhookToJenkins.png) center -80px no-repeat;
  background-image: url("/images/WebhookToJenkins.png");
  background-size: 50px 54px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.webhook a {
    background-image: url("/images/WebhookToJenkins.png");
    background-size: 50px 54px;
  }
}
#products #products-nav li.webhook a i {
  height: 54px;
  background: url(/images/WebhookToJenkins.png) 0 0 no-repeat;
  background-image: url("/images/WebhookToJenkins.png");
  background-size: 50px 54px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.webhook a i {
    background-image: url("/images/WebhookToJenkins.png");
    background-size: 50px 54px;
  }
}
#products #products-nav li.sourceeditor a {
  background: url(/images/SourceEditor.png) center -80px no-repeat;
  background-image: url("/images/SourceEditor.png");
  background-size: 50px 43px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.sourceeditor a {
    background-image: url("/images/SourceEditor.png");
    background-size: 50px 43px;
  }
}
#products #products-nav li.sourceeditor a i {
  height: 43px;
  background: url(/images/SourceEditor.png) 0 0 no-repeat;
  background-image: url("/images/SourceEditor.png");
  background-size: 50px 43px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.sourceeditor a i {
    background-image: url("/images/SourceEditor.png");
    background-size: 50px 43px;
  }
}
#products #products-nav li.markdown a {
  background: url(/images/MarkdownExtensions.png) center -80px no-repeat;
  background-image: url("/images/MarkdownExtensions.png");
  background-size: 50px 53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.markdown a {
    background-image: url("/images/MarkdownExtensions.png");
    background-size: 50px 53px;
  }
}
#products #products-nav li.markdown a i {
  height: 53px;
  background: url(/images/MarkdownExtensions.png) 0 0 no-repeat;
  background-image: url("/images/MarkdownExtensions.png");
  background-size: 50px 53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.markdown a i {
    background-image: url("/images/MarkdownExtensions.png");
    background-size: 50px 53px;
  }
}
#products #products-nav li.github a {
  background: url(/images/GithubMacros.png) center -80px no-repeat;
  background-image: url("/images/GithubMacros.png");
  background-size: 50px 49px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.github a {
    background-image: url("/images/GithubMacros.png");
    background-size: 50px 49px;
  }
}
#products #products-nav li.github a i {
  height: 49px;
  background: url(/images/GithubMacros.png) 0 0 no-repeat;
  background-image: url("/images/GithubMacros.png");
  background-size: 50px 49px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.github a i {
    background-image: url("/images/GithubMacros.png");
    background-size: 50px 49px;
  }
}
#products #products-nav li.cruciblehook a {
  background: url(/images/CrucibleReviewHook.png) center -80px no-repeat;
  background-image: url("/images/CrucibleReviewHook.png");
  background-size: 50px 53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.cruciblehook a {
    background-image: url("/images/CrucibleReviewHook.png");
    background-size: 50px 53px;
  }
}
#products #products-nav li.cruciblehook a i {
  height: 53px;
  background: url(/images/CrucibleReviewHook.png) 0 0 no-repeat;
  background-image: url("/images/CrucibleReviewHook.png");
  background-size: 50px 53px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.cruciblehook a i {
    background-image: url("/images/CrucibleReviewHook.png");
    background-size: 50px 53px;
  }
}
#products #products-nav li.autowatch a {
  background: url(/images/Autowatch.png) center -80px no-repeat;
  background-image: url("/images/Autowatch.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.autowatch a {
    background-image: url("/images/Autowatch.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.autowatch a i {
  background: url(/images/Autowatch.png) 0 0 no-repeat;
  background-image: url("/images/Autowatch.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.autowatch a i {
    background-image: url("/images/Autowatch.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.charts a {
  background: url(/images/Charts.png) center -80px no-repeat;
  background-image: url("/images/Charts.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.charts a {
    background-image: url("/images/Charts.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.charts a i {
  background: url(/images/Charts.png) 0 0 no-repeat;
  background-image: url("/images/Charts.png");
  background-size: 50px 54px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.charts a i {
    background-image: url("/images/Charts.png");
    background-size: 50px 54px;
  }
}
#products #products-nav li.security a {
  background: url(/images/Security.png) center -80px no-repeat;
  background-image: url("/images/Security.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.security a {
    background-image: url("/images/Security.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.security a i {
  background: url(/images/Security.png) 0 0 no-repeat;
  background-image: url("/images/Security.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.security a i {
    background-image: url("/images/Security.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.polls a {
  background: url(/images/Polls.png) center -80px no-repeat;
  background-image: url("/images/Polls.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.polls a {
    background-image: url("/images/Polls.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.polls a i {
  background: url(/images/Polls.png) 0 0 no-repeat;
  background-image: url("/images/Polls.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.polls a i {
    background-image: url("/images/Polls.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.snip a {
  background: url(/images/SnippetsBb.png) center -80px no-repeat;
  background-image: url("/images/SnippetsBb.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.snip a {
    background-image: url("/images/SnippetsBb.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.snip a i {
  background: url(/images/SnippetsBb.png) 0 0 no-repeat;
  background-image: url("/images/SnippetsBb.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.snip a i {
    background-image: url("/images/SnippetsBb.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.imgslider a {
  background: url(/images/ImageSlider.png) center -80px no-repeat;
  background-image: url("/images/ImageSlider.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.imgslider a {
    background-image: url("/images/ImageSlider.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.imgslider a i {
  background: url(/images/ImageSlider.png) 0 0 no-repeat;
  background-image: url("/images/ImageSlider.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.imgslider a i {
    background-image: url("/images/ImageSlider.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.dash a {
  background: url(/images/CustomDashboards.png) center -80px no-repeat;
  background-image: url("/images/CustomDashboards.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.dash a {
    background-image: url("/images/CustomDashboards.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.dash a i {
  background: url(/images/CustomDashboards.png) 0 0 no-repeat;
  background-image: url("/images/CustomDashboards.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.dash a i {
    background-image: url("/images/CustomDashboards.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.news a {
  background: url(/images/NewsTeaser.png) center -80px no-repeat;
  background-image: url("/images/NewsTeaser.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.news a {
    background-image: url("/images/NewsTeaser.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.news a i {
  background: url(/images/NewsTeaser.png) 0 0 no-repeat;
  background-image: url("/images/NewsTeaser.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.news a i {
    background-image: url("/images/NewsTeaser.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.pages a {
  background: url(/images/Pages.png) center -80px no-repeat;
  background-image: url("/images/Pages.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.pages a {
    background-image: url("/images/Pages.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.pages a i {
  background: url(/images/Pages.png) 0 0 no-repeat;
  background-image: url("/images/Pages.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.pages a i {
    background-image: url("/images/Pages.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.yacc a {
  background: url(/images/YACC.png) center -80px no-repeat;
  background-image: url("/images/YACC.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.yacc a {
    background-image: url("/images/YACC.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.yacc a i {
  background: url(/images/YACC.png) 0 0 no-repeat;
  background-image: url("/images/YACC.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.yacc a i {
    background-image: url("/images/YACC.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.space a {
  background: url(/images/Spacetree.png) center -80px no-repeat;
  background-image: url("/images/Spacetree.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.space a {
    background-image: url("/images/Spacetree.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.space a i {
  background: url(/images/Spacetree.png) 0 0 no-repeat;
  background-image: url("/images/Spacetree.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.space a i {
    background-image: url("/images/Spacetree.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.snipc a {
  background: url(/images/SnippetsConf.png) center -80px no-repeat;
  background-image: url("/images/SnippetsConf.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.snipc a {
    background-image: url("/images/SnippetsConf.png");
    background-size: 50px 50px;
  }
}
#products #products-nav li.snipc a i {
  background: url(/images/SnippetsConf.png) 0 0 no-repeat;
  background-image: url("/images/SnippetsConf.png");
  background-size: 50px 50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #products #products-nav li.snipc a i {
    background-image: url("/images/SnippetsConf.png");
    background-size: 50px 50px;
  }
}
#products #products-display {
  width: 100%;
  padding: 130px 0;
  background-color: #151617;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  margin-top: -5px;
}
#products #products-display .row-title {
  text-align: center;
  padding-bottom: 1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 30px;
  color: #fefefe;
}
#products #products-display .logos .product-logo {
  display: block;
  width: 208px;
  height: 202px;
  margin: 0 auto;
}
#products #products-display .descs p {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  line-height: 22px;
  color: #fefefe;
  margin-bottom: 25px;
}
#products #products-display .descs .outline-btn {
  margin-left: 15px;
}
#customers {
  color: #fefefe;
  background-color: #3F3F3F;
  text-align: center;
}
#customers h1 {
  padding: 0 0 60px 0;
  font-size: 34px;
  color: #fefefe;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding-top: 0px;
}
#customers .customer-logos {
  background: url(/images/logo-grid.png) 0 0 no-repeat;
  background-image: url("/images/logo-grid.png");
  background-size: 384px 368px;
  height: 384px;
  width: 384px;
  margin-left: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  #customers .customer-logos {
    background-image: url("/images/logo-grid.png");
    background-size: 384px 368px;
  }
}
.hiring {
  position: relative;
}
.hiring h2 {
  font-size: 45px;
  line-height: 48px;
  color: #27a9e0;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.hiring p {
  font-size: 17px;
  line-height: 22px;
  color: #e4e6e9;
  margin-bottom: 20px;
}
.hiring .photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url(/images/hiring-photo.jpg) center center no-repeat;
  background-image: url("/images/hiring-photo.jpg");
  background-size: 0 0;
  background-size: cover !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .hiring .photo {
    background-image: url("/images/hiring-photo.jpg");
    background-size: 0 0;
  }
}
@media (max-width: 1200px) {
  .customers ul.customer-logos li {
    width: 25%;
  }
  #products #products-header h2 {
    margin-bottom: 30px;
  }
  #products #products-nav {
    text-align: center;
  }
  #products #products-nav li {
    display: inline-block;
    float: none;
    margin-right: 30px;
  }
}
@media (min-width: 992px) {
  .customers ul.customer-logos li {
    width: 20%;
  }
  #customers h1 {
    padding-top: 153px;
  }
  #customers .customer-logos {
    margin-left: 0px;
  }
}
@media (max-width: 992px) {
  #news .r50 {
    width: 100%;
    padding-bottom: 120px;
  }
  #customers .customer-logos {
    margin-left: 22%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #products #products-display .descs a {
    text-align: center;
    display: block;
  }
  #products #products-display .descs .outline-btn {
    margin-left: 0;
    margin-top: 10px;
  }
  #customers .customer-logos {
    margin-left: 25%;
  }
}
@media (max-width: 720px) {
  .customers ul.customer-logos li {
    width: 33.3333%;
  }
  #customers .customer-logos {
    margin-left: 18%;
  }
}
@media (max-width: 620px) and (min-width: 482px) {
  #customers .customer-logos {
    margin-left: 12%;
  }
}
@media (max-width: 480px) {
  .customers ul.customer-logos li {
    width: 50%;
  }
  #customers .customer-logos {
    margin-left: 8%;
    background-size: 330px 330px;
  }
}
@media (max-width: 320px) {
  .customers ul.customer-logos li {
    background-position: 0 0;
    width: 180px;
    /* float:left; */
    margin: 0 auto;
    display: block;
    float: none;
  }
  #news .blog-entry-right h3 {
    margin-bottom: 2px;
    color: #27a9e0;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
  }
  #news .blog-entry-right h2 {
    margin-bottom: 50px;
    color: #151515;
    font-size: 44px;
  }
  .customers h1 {
    font-size: 35px;
    line-height: 48px;
  }
  #products #products-display .logos {
    margin-bottom: 15px;
  }
  #products #products-display .descs .hbtn {
    min-width: 180px;
    text-align: center;
  }
  #products #products-display .descs .outline-btn {
    margin-top: 10px;
    margin-left: 0;
  }
  #customers .customer-logos {
    margin-left: 5%;
    background-size: 260px 260px;
  }
}
body.jobs article {
  padding: 120px 0;
}
body.jobs #location {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  overflow: hidden;
  background-color: #151617;
}
body.jobs #location .map-text {
  margin-top: 120px;
  padding: 32px;
  background-color: rgba(15, 16, 17, 0.8);
  color: #fefefe;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
}
body.jobs #location .map-text h2 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fefefe;
  font-size: 42px;
  margin-bottom: 10px;
}
body.jobs #location .map-text h2 span {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 300;
}
body.jobs #location .map-text p {
  color: #c0daec;
}
body.jobs #location #map-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1466px;
  height: 500px;
  margin-left: -733px;
}
body.jobs #location #map {
  padding: 0;
  height: 500px;
  background: url(/images/map.png) center 0 no-repeat;
  background-image: url("/images/map.png");
  background-size: 1466px 500px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.jobs #location #map {
    background-image: url("/images/map@2x.png");
    background-size: 1466px 500px;
  }
}
body.jobs #location #map h2 {
  margin-bottom: 40px;
}
body.jobs #location #map #pins {
  position: relative;
}
body.jobs #location #map #pins .pinpoint {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body.jobs #location #map #pins .pinpoint.p1 {
  top: 220px;
  left: 460px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
body.jobs #location #map #pins .pinpoint.p2 {
  top: 334px;
  left: 1059px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
body.jobs #location #map #pins .pinpoint.p3 {
  top: 338px;
  left: 460px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
body.jobs #location #map #pins .pinpoint.p4 {
  top: 130px;
  left: 1020px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
body.jobs #location #map #pins .pinpoint.bounce {
  -webkit-animation-name: bounce;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}
body.jobs #location #map #pins .pinpoint i {
  width: 29px;
  height: 37px;
  background: url(/images/pin-red.png) center 0 no-repeat;
  background-image: url("/images/pin-red.png");
  background-size: 29px 37px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.jobs #location #map #pins .pinpoint i {
    background-image: url("/images/pin-red@2x.png");
    background-size: 29px 37px;
  }
}
body.jobs #location #map #pins .hq {
  position: absolute;
  top: 225px;
  left: 334px;
}
body.jobs #location #map #pins .hq .pulser {
  position: relative;
}
body.jobs #location #map #pins .hq .pulser .pulse {
  position: absolute;
  top: 13px;
  left: -43px;
  width: 112px;
  height: 48px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body.jobs #location #map #pins .hq .pulser .pulse1 {
  background-color: #c24141;
  border: 7px solid #c24141;
  -webkit-animation: pulse1 4s linear infinite;
  -moz-animation: pulse1 4s linear infinite;
  animation: pulse1 4s linear infinite;
}
body.jobs #location #map #pins .hq i {
  width: 29px;
  height: 37px;
  background: url(/images/pin-red.png) center 0 no-repeat;
  background-image: url("/images/pin-red.png");
  background-size: 29px 37px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.jobs #location #map #pins .hq i {
    background-image: url("/images/pin-red@2x.png");
    background-size: 29px 37px;
  }
}
body.jobs #positions {
  position: relative;
  background-color: #151515;
  color: #fefefe;
  box-shadow: -5px -5px 0 1px rgba(0, 0, 0, 0.2);
}
body.jobs #positions h2 {
  color: #fefefe;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}
body.jobs #positions #jobs .job {
  position: relative;
}
body.jobs #positions #jobs .job.active {
  background-color: #fefefe;
}
body.jobs #positions #jobs .job h4 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 4px;
}
body.jobs #positions #jobs .job .panel-body {
  padding-top: 0;
  padding-bottom: 45px;
}
body.jobs #positions #jobs .job .panel-body .col {
  padding: 15px 0;
}
body.jobs #positions #jobs .job .panel-body h4 {
  margin-bottom: 15px;
}
body.jobs #positions #jobs .job .panel-body ul li {
  margin-bottom: 6px;
}
body.jobs #positions #jobs .job .panel-body .outline-btn {
  text-transform: none !important;
}
body.jobs #positions #jobs .job a.trigger {
  display: block;
  padding: 25px 0;
  border-bottom: 2px solid #000;
}
body.jobs #positions #jobs .job a.trigger:hover {
  color: #fefefe;
}
body.jobs #positions #jobs .job a.trigger .location {
  display: block;
  padding: 0 0 0 18px;
  font-size: 12px;
  line-height: 15px;
  color: #6b6b6b;
  background: url(/images/pin-white.png) 0 0 no-repeat;
  background-image: url("/images/pin-white.png");
  background-size: 11px 14px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.jobs #positions #jobs .job a.trigger .location {
    background-image: url("/images/pin-white@2x.png");
    background-size: 11px 14px;
  }
}
body.jobs #positions #jobs .job a.trigger .toggle {
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 50px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #27a9e0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body.jobs #positions #jobs .job a.trigger.active {
  background-color: transparent;
  border-bottom: 2px solid transparent;
}
body.jobs #positions #jobs .job a.trigger.active h4 {
  color: #151515;
}
body.jobs #positions #jobs .job a.trigger.active .location {
  background: url(/images/pin-black.png) 0 0 no-repeat;
  background-image: url("/images/pin-black.png");
  background-size: 11px 14px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.jobs #positions #jobs .job a.trigger.active .location {
    background-image: url("/images/pin-black@2x.png");
    background-size: 11px 14px;
  }
}
body.jobs #positions #jobs .job a.trigger.active .toggle {
  color: #151515;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body.jobs #positions #jobs .job .panel-body {
  color: #151515;
}
body.jobs #positions #jobs .job .panel-body p,
body.jobs #positions #jobs .job .panel-body ul {
  font-size: 16px;
}
body.jobs #chat {
  color: #151515;
  background-color: #27a9e0;
}
body.jobs #chat h2 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 55px;
}
body.jobs #chat h2 .chat {
  margin: 0 8px -8px 0;
  width: 65px;
  height: 45px;
  background: url(/images/chat-icon.png) 0 0 no-repeat;
  background-image: url("/images/chat-icon.png");
  background-size: 65px 45px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  body.jobs #chat h2 .chat {
    background-image: url("/images/chat-icon@2x.png");
    background-size: 65px 45px;
  }
}
body.jobs #chat p {
  font-size: 22px;
  line-height: 26px;
  color: #183652;
}
@media (max-width: 480px) {
  body.jobs #chat h2 .chat {
    display: block;
    margin-bottom: 8px;
  }
}
@media (max-width: 320px) {
  body.jobs #positions #jobs .job a.trigger {
    border-bottom: 1px solid #000;
  }
  body.jobs #location #map-wrap {
    margin-left: -430px;
  }
  body.jobs #location .map-text {
    margin-top: 30px;
    background-color: transparent;
    box-shadow: none;
  }
  body.jobs #location .map-text p {
    margin-top: 130px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
  }
}
footer {
  padding: 80px 0 100px;
  background: #fefefe;
  color: #fefefe;
}
footer h2 {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 24px;
  color: #27a9e0;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  width: 125px;
  margin: auto;
  padding-bottom: 20px;
}
footer h2:before,
footer h2:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
footer h2:after {
  clear: both;
}
footer h2 a.navbar-brand {
  margin-bottom: 0;
  padding: 0 0 0 148px;
  margin-left: -15px;
  font-size: 20px;
  line-height: 24px;
  color: #27a9e0;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
footer h2 a.navbar-brand.blue.logo {
  color: #27a9e0;
  background: url(/images/blue-logo-with-name.png) 0 0 no-repeat;
  background-image: url("/images/blue-logo-with-name.png");
  background-size: 148px 30px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  footer h2 a.navbar-brand.blue.logo {
    background-image: url("/images/blue-logo-with-name.png");
    background-size: 148px 30px;
  }
}
footer ul {
  width: 280px;
  padding-left: 24px;
  margin: auto;
  list-style-type: none;
}
footer ul li {
  text-align: left;
  line-height: 28px;
  float: left;
  padding-bottom: 40px;
  padding-right: 20px;
}
footer ul li a {
  font-size: 16px;
  color: #151515;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
}
footer .contact-link a {
  color: #27a9e0;
}
footer .contact-link a:hover {
  color: #fefefe;
}
footer .contact-link a:visited {
  color: inherit;
}
@media (max-width: 992px) {
  footer .col-md-3 {
    margin-bottom: 20px;
  }
}
@media (max-width: 560px) {
  footer h2 {
    font-size: 16px;
  }
  footer h2 a.navbar-brand.blue.logo {
    font-size: 16px;
    background: none;
    padding: 0;
  }
  footer ul li {
    line-height: 24px;
  }
  footer ul li a {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .slider-mask #slider .slidesjs-pagination {
    right: 10px;
    left: auto;
    bottom: 8px;
  }
  .slider-mask #slider .slide {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none;
  }
  .slider-mask #slider .slide .hero-content {
    right: 0;
    bottom: 50px;
    width: auto;
  }
  .slider-mask #slider .slide .hero-content h1 {
    margin-right: 20px;
  }
  .slider-mask #slider .slide .hero-content h2 {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 10px;
    margin: 0px 10px 8px 10px;
  }
  .slider-mask #slider .slide .hero-content h2 span {
    display: inline;
    padding: 0;
    background-color: transparent;
  }
  .slider-mask #slider .slide .hero-content .button {
    margin-right: 10px;
  }
  nav {
    position: absolute;
    height: auto;
    font-size: 13px;
    padding: 10px 0;
  }
  nav a.hashi-logo {
    display: inline-block !important;
    background-position: center center;
    float: none !important;
    position: relative;
    width: 200px !important;
    left: 50%;
    padding: 10px 0;
    margin: 0;
    padding: 0;
    margin-left: -30px !important;
  }
  nav ul {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
  }
  section.vagrant,
  section.customers {
    padding: 40px 0;
  }
  /*
		h1 {
		font-size: 40px !important;
		line-height: 50px;
		letter-spacing: 5px !important;
		}
*/
  blockquote {
    margin: 0;
  }
  blockquote p {
    line-height: 1.55em;
  }
  a.brand {
    display: none !important;
    position: static !important;
    width: 200px !important;
    margin: 0 0 0 0 !important;
    background-position: center center !important;
    border: 1px solid #ff0000;
  }
  article.blog-post img {
    margin-bottom: 40px;
  }
  article.blog-post pre {
    margin: 20px 0;
  }
  .page article {
    padding: 20px 0 40px;
  }
  .article-summaries article {
    padding: 40px 0;
  }
  .article-summaries article:first-child {
    padding: 40px 0;
  }
  .article-summaries .big-background {
    overflow: hidden !important;
  }
  .inner-page .inner-page-header {
    height: 60px;
  }
  .inner-page .inner-page-header h1 {
    padding-top: 50px !important;
  }
  .hero .hero-content {
    padding-top: 125px;
  }
  .product p {
    width: 100% !important;
  }
  .product.vagrant ul {
    margin-top: 20px;
  }
  .product.vagrant ul li {
    margin-bottom: 40px;
  }
  .customers h1 span {
    font-size: 20px;
  }
  .customers ul.customer-logos {
    margin: 0;
  }
  .customers ul.customer-logos li {
    margin: 0 !important;
  }
  .customers ul.customer-logos li img {
    float: none;
    position: relative;
  }
  footer {
    padding: 40px 0;
    background-size: 200%;
  }
  footer .contact-link a {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  nav ul {
    margin: 25px 20px;
  }
}
@media (max-width: 979px) {
  blockquote {
    margin: 30px !important;
  }
  blockquote p {
    font-size: 20px;
    line-height: 40px;
  }
  article.blog-post p img {
    float: none;
    padding: 0;
    margin: 30px 0;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  body.index {
    padding-left: 0px;
    padding-right: 0px;
  }
  body.index .article-summaries article,
  body.index section.product,
  body.index section.customers {
    margin-right: 0;
    margin-left: 0;
  }
  nav a.hashi-logo {
    background: url(/images/hashi_icon.png) no-repeat 0 0 !important;
    height: 70px !important;
    width: 60px !important;
    margin: 10px 20px;
  }
  nav ul li {
    margin-left: 5px;
  }
  .product {
    text-align: center;
  }
  .product p {
    width: 100% !important;
  }
  .product.vagrant {
    background-image: none;
  }
  .product.vagrant ul {
    margin-top: 20px;
  }
  .product.vagrant ul li {
    margin-bottom: 40px;
  }
  .article-summaries article,
  section.product,
  section.customers {
    margin-right: -20px;
    margin-left: -20px;
  }
  .article-summaries article .container,
  section.product .container,
  section.customers .container {
    margin: 0 20px;
  }
}
/*# sourceMappingURL=hashicorp.css.map */