			<!-- footer -->
			<footer>
			<div class="container text-center">
				<div class="row center-block">

					<h2>
						<a class="navbar-brand blue logo" href="/"></a>
					</h2>

					<div>


						<ul>
							<li><a href="http://blog.mohamicorp.com" target="_blank">Blog</a></li>
							<li><a href="https://mohamicorp.atlassian.net/servicedesk/customer/portals" target="_blank">Contact</a></li>
							<li><a href="/jobs.html">Jobs</a></li>
							<!-- <li><a href="/security.html">Security</a></li> -->
							<li><a href="https://www.twitter.com/mohamicorp">Twitter<i class="twitter"></i></a></li>
						</ul>
					</div>


				</div> <!-- row -->

				<div class="row">
					<div class="col-xs-12">
						<h6 class="legal">
							Copyright &copy; <%= Time.now.year %> Mohami LLC
						</h6>
					</div>
				</div> <!-- row -->

			</div> <!-- container -->
			</footer>
