<div id="header" class="<%= current_page.data.page_title == "home" ? "" : "navbar-static-top" %>">
	<div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-2 nav-logo">
  		  <div class="navbar-header">
    		    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
    	          <span class="sr-only">Toggle navigation</span>
    	          <span class="icon-bar"></span>
    	          <span class="icon-bar"></span>
    	          <span class="icon-bar"></span>
    	        </button>
    			<a class="navbar-brand blue logo" href="/"></a>
    		</div>
      </div>

      <div class="col-sm-9 col-md-10 nav-white">
    		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
     			<ul class="main-links nav navbar-nav navbar-right rls-sb">
            <li class="first li-under"><a href="<%= "#products" if current_page.path.include?("index.html") %><%= "/index.html#products" if ( ! current_page.path.include?("index.html")) %>">Products</a></li>
						<!--<li class="li-under"><a href="/about.html">About</a></li>-->
						<li class="li-under"><a href="https://mohamicorp.atlassian.net/servicedesk/customer/portals" target="_blank">Support</a></li>
						<li class="li-under"><a href="http://blog.mohamicorp.com" target="_blank">Blog</a></li>
    				<!-- <li class="li-under"><a href="/about.html">About</a></li> -->
				<!-- <li class="li-under"><a href="/partners.html">Partners</a></li> -->
				    <li class="li-under"><a href="/jobs.html">Jobs</a></li>
    			</ul>
    		</nav>
      </div>
    </div>
  </div>
</div>
