<div id="jumbotron-mask">
	<div id="jumbotron">
		<div class="jumbotron-content" id="jumbotron-content">
			<div class="container">
				<div class="row">
					<div class="jumbo-logo-wrap col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 pull-right">
						<div class="jumbo-logo">

							<div class="hexagons">
								<div class="hexagon hex1 hexPulse"></div>
								<div class="hexagon hex2 hexPulse"></div>
								<div class="hexagon hex3 hexPulse"></div>
								<div class="hexagon hex4 hexPulse"></div>
							</div>

							<div class="hero-logo fadein"></div>

							<div class="hero-prod-logos">
							</div>

						</div>
					</div> <!-- col -->
					<div class="col-lg-6 col-md-5 col-sm-12 pull-left">
						<div class="hero-headline">
							<h1>Pushing the boundaries of productivity.</h1>
                <h2>Mohami is an independent studio focused on enhancing Atlassian
									products through plugins. We prioritize quality, robustness, and quick customer support.
							</h2>
						</div>
					</div> <!-- col -->
				</div> <!-- row -->
			</div> <!-- container -->
		</div> <!-- jumbotron-content -->
	</div> <!-- jumbotron -->
</div> <!-- jumbotron-mask -->

<article id="products">

	<div id="products-header">
	<div id="bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h2 id="products">Products</h2>
				</div>
				<div class="col-lg-12 col-md-12">
					<ul id="products-nav" class="clearfix">	
						<li class="charts" data-prod="charts">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1212147/charts-graphs-for-bitbucket?hosting=datacenter&tab=overview">
								<i></i>
								<span>Charts and Graphs<br>for Bitbucket</span>
							</a>
						</li>
						<li class="webhook" data-prod="webhook">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1211284/webhook-to-jenkins-for-bitbucket?hosting=datacenter&tab=overview">
								<i></i>
								<span>Webhook to Jenkins<br>for Bitbucket</span>
							</a>
						</li>
						<li class="polls" data-prod="polls">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1211126/polls-for-confluence?hosting=cloud&tab=overview">
								<i></i>
								<span>Polls<br>for Confluence</span>
							</a>
						</li>
						<li class="sourceeditor" data-prod="sourceeditor">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.html.source.editor.for.confluence/server/overview">
								<i></i>
								<span>Source Editor<br>for Confluence</span>
							</a>
						</li>
						<li class="snip" data-prod="snip">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1211309/snippets-for-bitbucket-server?hosting=datacenter&tab=overview">
								<i></i>
								<span>Snippets<br>for Bitbucket Server</span>
							</a>
						</li>
						<li class="imgslider" data-prod="imgslider">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1210924/image-slider-for-confluence?hosting=cloud&tab=overview">
								<i></i>
								<span>Image Slider<br>for Confluence</span>
							</a>
						</li>
						<li class="editor" data-prod="editor">
						<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.plugin.editor-for-stash/server/overview">
							<i></i>
							<span>Power Editor<br>for Bitbucket</span>
						</a>
						</li>
						<li class="dash" data-prod="dash">
						<a target="_blank" href="https://marketplace.atlassian.com/apps/1210990/custom-dashboards-for-confluence?hosting=datacenter&tab=overview">
							<i></i>
							<span>Custom Dashboards<br>for Confluence</span>
						</a>
						</li>
						<li class="news" data-prod="news">
						<a target="_blank" href="https://marketplace.atlassian.com/apps/1213955/news-teaser-for-confluence?hosting=cloud&tab=overview">
							<i></i>
							<span>News Teaser<br>for Confluence</span>
						</a>
						</li>
						<li class="markdown" data-prod="markdown">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/mohamicorp-render-markdown/server/overview">
								<i></i>
								<span>Markdown Extensions<br>for Confluence</span>
							</a>
						</li>
						<li class="pages" data-prod="pages">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1212525/pages-for-bitbucket-server?hosting=datacenter&tab=overview">
								<i></i>
								<span>Pages<br>for Bitbucket Server</span>
							</a>
						</li>
						<li class="yacc" data-prod="yacc">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1211854/yet-another-commit-checker?hosting=datacenter&tab=overview">
								<i></i>
								<span>Yet Another<br>Commit Checker</span>
							</a>
						</li>
						<li class="space" data-prod="space">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1210945/spacetree-for-confluence?hosting=datacenter&tab=overview">
								<i></i>
								<span>Spacetree<br>for Confluence</span>
							</a>
						</li>
						<li class="autowatch" data-prod="autowatch">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.plugin.autowatch.autowatch-for-jira/server/overview">
								<i></i>
								<span>Autowatch<br>for JIRA</span>
							</a>
						</li>
						<li class="github" data-prod="github">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.confluence.macro.github.mohamicorp-github-macros/server/overview">
								<i></i>
								<span>Github Macros<br>for Confluence</span>
							</a>
						</li>
						<li class="cruciblehook" data-prod="cruciblehook">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.bitbucket.plugin.crucible-review-hook/server/overview">
								<i></i>
								<span>Crucible Review Hook<br>for Bitbucket</span>
							</a>
						</li>
						<li class="snipc" data-prod="snipc">
							<a target="_blank" href="https://marketplace.atlassian.com/apps/1215283/snippets-for-confluence?hosting=datacenter&tab=overview">
								<i></i>
								<span>Snippets<br>for Confluence</span>
							</a>
						</li>
												

						<% if false %>
						<!-- ================== REMOVED APPS BELOW ==================
						<li class="automation" data-prod="automation">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.plugin.automation.automation-for-jira/server/overview">
								<i></i>
								<span>Automation Tools<br>for JIRA</span>
							</a>
						</li>
						<li class="automationlite" data-prod="automationlite">
							<a href="#automationlite">
								<i></i>
								<span>Automation Tools<br>for JIRA LITE</span>
							</a>
						</li>
						<li class="rstviewer" data-prod="rstviewer">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.bitbucket.restructuredtext.viewer.rst-viewer/server/overview">
								<i></i>
								<span>RST Viewer<br>for Bitbucket</span>
							</a>
						</li>
						<li class="search" data-prod="search">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.stash.search-for-stash/server/overview">
								<i></i>
								<span>Smarter Search<br>for Bitbucket</span>
							</a>
						</li>
						<li class="reviewboard" data-prod="reviewboard">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.bitbucket.reviewboard/server/overview">
								<i></i>
								<span>Reviewboard Integration<br>for Bitbucket</span>
							</a>
						</li>
						<li class="customcontent" data-prod="customcontent">
							<a target="_blank" href="https://marketplace.atlassian.com/plugins/com.mohamicorp.jira.plugins.custom.content.custom-content-gadget-jira/server/overview">
								<i></i>
								<span>RST Viewer<br>for Bitbucket</span>
							</a>
						</li>						
						============================================================= -->
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</div>
</article>

<article class="customers" id="customers">
<div class="container"> <!-- required by bootstrap -->
	<div class="row align-items-center">
		<div class="customers-content col-lg-6 col-md-5 col-sm-12">
			<h1>
				Companies who</br>
				trust us.
			</h1>
		</div>
		<div class="col-lg-6 col-md-5 col-sm-12">
			<div class="customer-logos"></div>
		</div> <!-- customers-content -->
	</div> <!-- row -->
</article>
